21 02 28 21
1
37.82 111.54 500
-120
0
10000.0
5
D:/Program Files/pycharm/后向轨迹/gdasdata/
gdas1.feb21.w1
D:/Program Files/pycharm/后向轨迹/gdasdata/
gdas1.feb21.w2
D:/Program Files/pycharm/后向轨迹/gdasdata/
gdas1.feb21.w3
D:/Program Files/pycharm/后向轨迹/gdasdata/
gdas1.feb21.w4
D:/Program Files/pycharm/后向轨迹/gdasdata/
gdas1.mar21.w1
./
umnfeb0500winter2021022821
